body {
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}

.weather-app {
  margin: 100px 100px 20px 300px;
  padding: 50px;
  border: 1px solid;
  max-width: 500px;
  border-radius: 30px;
  border-color: rgb(248, 179, 83);
  align-items: center;
}

h1 {
  font-size: 45px;
  padding-bottom: 25px;
  padding-top: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 200px;
}

h1::first-letter {
  text-transform: capitalize;
}

.temp {
  font-size: 45px;
}

h3 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

#current-clouds {
  padding-right: 0px;
  text-align: right;
}

#clouds {
  padding-left: 6px;
}

#current-humidity {
  padding-right: 0px;
  text-align: right;
}

#humidity {
  padding-left: 6px;
}

#current-wind {
  padding-right: 0px;
  text-align: right;
}

#wind {
  padding-left: 6px;
}

h4 {
  font-size: small;
  font-family: "Heebo", sans-serif;
  color: rgb(172, 109, 8);
  font-weight: 500px;
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.btn {
  color: #ffff;
  background-color: rgb(227, 145, 15);
  border-color: rgb(227, 145, 15);
}
.btn:hover {
  background-color: rgb(233, 193, 133);
  border-color: rgb(233, 193, 133);
}

.weather-icon {
  background-color: rgb(217, 214, 210);
  border-radius: 45px;
  margin-right: 35px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
  font-size: 16px;
  top: -20px;
}

.active :hover {
  text-decoration: none;
}

p {
  text-align: center;
  margin-bottom: 100px;
  max-width: 600px;
  padding-left: 300px;
  font-family: "Heebo", sans-serif;
}

.container {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.high-low {
  font-size: 13px;
}

.low {
  color: rgb(109, 111, 113);
}
